<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="css/style.css">
            <link rel="stylesheet" href="css/fonts/foundation-icons.css">
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css"
        erintegrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY="
        ercrossorigin="anonymous" />
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/js/foundation.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/fulfillment.js"></script>
    </body>

</html>
