<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Orders</title>
	<link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/1.0.2/polaris.css">
	<link rel="stylesheet" href="css/style.css">
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>

	<nav>
	  <a href="#" class="brand">
	    <span>Shopify App</span>
	  </a>
	</nav>

	<main>

		<div class="flex two">
	    <div class="ui-card__section">
			 	<div class="ui-type-container">
					<h1>{{order.billing_address.first_name}} {{order.billing_address.last_name}}</h1>
					<h1>{{order.billing_address.address1}}</h1>
					<a href="http://localhost/shopify-tester/get-orders.php" class="button">Back</a>
					{% if order.note %}
						<h2>Note</h2>
						<div class="note">
							<p class="">
								{{order.note}}
							</p>
						</div>
					{% endif %}
					<h2>Items</h2>
					<table>
						<thead>
							<tr>
								<td>Product</td>
								<td>Quantity</td>
							</tr>
						</thead>
						<thead>
							{% for item in order.line_items %}
								<tr>
									<td><b>{{item.name}}</b></td>
									<td>{{item.quantity}}</td>
									<td>{{item.fulfillment_status}}</td>
								</tr>
							{% endfor %}
						</thead>
					</table>
					<h2>Fullfill the order</h2>
					<button class="button fulfillment" data-ajax="{{fulfillment_endpoint}}">Fulfill</button>
					<button class="button fulfillment" data-ajax="{{cancel_endpoint}}">Cancel fulfill</button>
					<h2>Tag the order</h2>

		    </div>
		  </div>
		</div>
	</main>
<script src="js/fulfillment.js"></script>
</body>
</html>
